struktur data list
list adalah jenis kumpulan data terurut (ordered sequence), bisa diubah elemennya (mutable), bisa ditambah maupun dikurang elemennya, dan merupakan salah satu variabel yang sering digunakan pada python. serupa namun tak sama dengan array pada bahasa pemrograman lainnya. bedanya, elemen list pada python tidak harus memiliki tipe data yang sama. mendeklarasikan list cukup mudah dengan kurung siku dan elemen yang dipisahkan dengan koma. setiap data di dalamnya dapat diakses dengan indeks yang dimulai dari 0

In [1]:
#contoh data list
list1=[1,2,3,4]
print(type(list1))

<class 'list'>

In [2]:
list2=['a','b','c',2,0,3,9]

In [3]:
print(list1)
print(list2)

[1, 2, 3, 4]
['a', 'b', 'c', 2, 0, 3, 9]

indeks di python (list,tuple) mulai dari 0

In [4]:
#sifat-sifat list
#terurut/ordered
print('memanggil list list1 dengan menggunakan indeks urutan: ', list[0:3])

#bisa diganti/mutable
list1[1]=2
print('list list1 setelah diganti elemennya: ',list1)

list1=[1,'dua', False, 2+3j]

#dapat diindeks/slicing
print('slicing list1 : ',list1[3])

memanggil list list1 dengan menggunakan indeks urutan:  list[slice(0, 3, None)]
list list1 setelah diganti elemennya:  [1, 2, 3, 4]
slicing list1 :  (2+3j)

In [5]:
#dapat diijinkan duplikasi
list1=[1,'dua', False, 2+3j]
print('duplikasi pada list list1',list1)

#dapat mengubah data dengan mengganti elemen tertentu
list1=[1,'dua', False, 2+3j]
list1[2]=3
print('data setelah diubah',list1)

#dapat menambahkan elemen baru pada data
list1=[1,'dua', False, 2+3j]
list1.append(22)
print('data setelah ditambahkan elemennya : ',list1)

#dapat menambahkan elemen baru pada data
list1=[1,'dua', False, 2+3j]
list1.remove(2+3j)
print('data setelah dihapus elemennya : ',list1)

duplikasi pada list list1 [1, 'dua', False, (2+3j)]
data setelah diubah [1, 'dua', 3, (2+3j)]
data setelah ditambahkan elemennya :  [1, 'dua', False, (2+3j), 22]
data setelah dihapus elemennya :  [1, 'dua', False]

In [6]:
#menambahkan data menggunakan fungsi extend(menambahkan elemen baru pada list namun elemen tsb ditambahkan secara individual)
l1=[1,'dua',True, False, 3+2j]
l1.extend(['nanas'])
print(l1)

[1, 'dua', True, False, (3+2j), 'nanas']

In [7]:
#menghapus elemen dari list menggunakan fungsi pop() (menghapus berdasarkan indeks)
l1=[1,'dua',True, False, 3+2j]
l1.pop(2)
print(l1)

[1, 'dua', False, (3+2j)]

In [10]:
#membuat list baru
list2=['a','b','c',2,0,3,9]
list2[1]=2002
print(list2)

['a', 2002, 'c', 2, 0, 3, 9]

In [12]:
list2.append(22)
print(list2)

['a', 2002, 'c', 2, 0, 3, 9, 22, 22]

In [18]:
list2=['a','b','c',2,0,3,9]
list2.extend(['apel'])
print(list2)

['a', 'b', 'c', 2, 0, 3, 9, 'apel']

In [24]:
list2=['a','b','c',2,0,3,9]
list2.insert(5,4)
print(list2)

['a', 'b', 'c', 2, 0, 4, 3, 9]

In [25]:
list2=['a','b','c',2,0,3,9]
list2.pop(4)
print(list2)

['a', 'b', 'c', 2, 3, 9]